body {
    margin: 0;
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar-brand img {
    width: 50px;
    margin-top: -15px;
    margin-left: -10px;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f8f8f8;
}

.container .text-muted {
    margin: 20px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.hidden {
    display: none;
}

.descrypt {
    margin-bottom: 10px;
    min-height: 10px;
    padding: 8px
}
