<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title ">
                <h3>File new ticket</h3><span id="userName">User Name</span>:{{date}}
            </div>
        </div>
        <textarea type="text" class="form-control" placeholder="Subject/short description" aria-describedby="basic-addon1" id="shortDescription"></textarea>
        <textarea class="form-control" style="width:100%" rows="8%" placeholder="Full description" id="lognDescription"></textarea>
        <textarea class="form-control" style="width:100%" rows="2%" placeholder="Additional comments" id="comment"></textarea>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="engineer" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="true">
    Select Engineer
        <span class="caret"></span>
        </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {{#each name}}
        <li><a>{{this}}</a></li>
        {{/each}}
    </ul>
</div>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="urgency" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="true">
    Select Urgency
        <span class="caret"></span>
        </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {{#each urgency}}
        <li><a>{{this}}</a></li>
        {{/each}}
    </ul>
</div>

<button class="btn btn-lg btn-primary btn-block" type="submit" id="sendNewTicket">Send ticket</button>
</div>
</div>
</div>